@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@-webkit-keyframes anim-effect {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%,
    50% {
        opacity: 1;
    }
    to {
        background-color: #50514F;
        color: white;
        opacity: 0;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

@keyframes anim-effect {
    0% {
        -webkit-transform: scale3d(0.3, 0.3, 1);
        transform: scale3d(0.3, 0.3, 1);
    }
    25%,
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        background-color: #50514F;
        color: white;
        -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
    }
}

* {
    padding: 0;
    margin: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

*::selection {
    background-color: #EEE;
}

input[type="range"],
input[type="file"],
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #eee;
    font-family: 'Roboto';
}

nav {
    margin-left: -82px;
    position: fixed;
    width: 80px;
    height: 100%;
    z-index: 10000;
    background-color: white;
    box-shadow: 0 0 5px 1px #888;
}

div#blur {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    top: 0;
}

div#promptCls {
    position: fixed;
    width: 300px;
    height: 150px;
    margin-left: 36.555%;
    background: #eee;
    border-radius: 0 0 20px 20px;
    display: none;
    z-index: 9999;
}

div#promptCls h1 {
    text-align: center;
}

div#promptCls p {
    text-align: center;
}

div#promptCls button {
    margin-top: 10px;
    width: 80px;
    height: 50px;
}

div#promptCls button#clear {
    margin-left: 22.222%;
}

.open-nav {
    position: fixed;
    height: 60px;
    width: 60px;
    margin: 10px;
    background-color: white;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    border-radius: 100%;
    box-shadow: 0 1px 2px 0 #888;
    z-index: 10001;
    border: none;
    outline: none;
    cursor: pointer;
}

.close-nav {
    position: fixed;
    height: 80px;
    width: 80px;
    margin: 0px;
    background-color: #F25F5C;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 1.5em;
    border-radius: 0%;
    z-index: 10001;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.open-nav:active {
    background-color: #EEE;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.close-nav:active {
    background-color: #B24644;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

nav ul {
    margin-top: 80px;
}

nav ul li {
    height: 80px;
    width: 80px;
}

nav ul li button {
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 15px;
    border: none;
    outline: none;
    font-size: 1.5em;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

nav ul li:active > button {
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 0;
    border: none;
    outline: none;
    font-size: 1.5em;
    border-radius: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    color: white;
}

nav ul li button:focus {
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 0;
    border: none;
    outline: none;
    font-size: 1.5em;
    border-radius: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    color: white;
}

nav ul li:hover > button,
nav ul li button:hover {
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 0;
    border: none;
    outline: none;
    font-size: 1.5em;
    border-radius: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    color: white;
}

nav ul li#ImgInpt:active > button,
nav ul li#ImgInpt button:focus,
nav ul li#ImgInpt:hover,
nav ul li#ImgInpt:hover > button,
nav ul li#ImgInpt button:hover {
    background-color: #247BA0;
}

nav ul li#SaveImg:active > button,
nav ul li#SaveImg button:focus,
nav ul li#SaveImg:hover,
nav ul li#SaveImg:hover > button,
nav ul li#SaveImg button:hover {
    background-color: #70C1B3;
}

nav ul li#Delete:active > button,
nav ul li#Delete button:focus,
nav ul li#Delete:hover,
nav ul li#Delete:hover > button,
nav ul li#Delete button:hover {
    background-color: #FFE066;
}

nav ul li#GitHub:active > button,
nav ul li#GitHub button:focus,
nav ul li#GitHub:hover,
nav ul li#GitHub:hover > button,
nav ul li#GitHub button:hover {
    background-color: #333333;
}

nav ul li#Author:active > button,
nav ul li#Author button:focus,
nav ul li#Author:hover,
nav ul li#Author:hover > button,
nav ul li#Author button:hover {
    background-color: #50514F;
}

nav p {
    width: 80px;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: .7em;
    margin-bottom: 10px;
}
/*IMAGE*/

section#image {
    width: 100%;
    min-height: 500px;
    height: 70%;
    z-index: -10;
}

section#image canvas {
    display: block;
    margin: auto;
    background-color: white;
    max-height: 100%;
}
/*TOOLS*/

section#tools {
    position: fixed;
    bottom: 0;
    min-height: 200px;
    height: 30%;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px 1px #888;
    z-index: 1;
}

section#tools section {
    float: left;
}

.show-range {
    width: 50% !important;
}
/*Type*/

section#tools section#type {
    width: 100%;
    height: 100%;
    border-right: 2px solid #DDD;
}

section#tools section#type h1 {
    margin: 10px;
}

section#tools section#type ul {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    width: 80%;
}

section#tools section#type ul li {
    min-width: 80px;
    width: 17.4%;
    display: inline-block;
    padding: 5px;
}

section#tools section#type ul li a {
    display: block;
    margin: auto;
    margin-top: -61px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

section#tools section#type ul li button {
    display: block;
    margin: auto;
    background: none;
    height: 60px;
    width: 60px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    line-height: 60px;
    padding: 0;
    font-size: 1.6em;
    border: 1px solid #50514F;
    z-index: 100;
}

section#tools section#type ul li p {
    text-align: center;
}

section#tools section#type ul li button:focus > a {
    -webkit-animation: anim-effect 0.3s forwards;
    animation: anim-effect 0.3s forwards;
}

.selected {
    background: #50514F;
    color: white;
}
/*End of Type*/
/*Slider*/

section#tools section#slider {
    position: absolute;
    right: 0;
    width: 0%;
    height: 100%;
}

section#tools section#slider h1 {
    margin: 10px;
}

section#tools section#slider section {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 150px;
    display: none;
}

section#tools section#slider input[type="range"] {
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 50px;
}

section#tools section#slider input[type="range"]::-webkit-slider-runnable-track {
    width: 400px;
    height: 10px;
    background-color: #50514f;
    border-radius: 5px;
    border: none;
}

section#tools section#slider input[type="range"]:focus {
    outline: none;
}

section#tools section#slider input[type="range"]::-moz-range-track {
    width: 400px;
    height: 10px;
    background-color: #50514f;
    border-radius: 5px;
    border: none;
}

section#tools section#slider input[type="range"]::-ms-track {
    width: 400px;
    height: 10px;
    background-color: #50514f;
    border-radius: 5px;
    border: none;
}

section#tools section#slider input[type="range"]:focus::-webkit-slider-runnable-track {
    background-color: #247ba0;
}

section#tools section#slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    margin-top: -10px;
    background-color: #f25f5c;
    border-radius: 100%;
}

section#tools section#slider input[type="range"]::-moz-range-thumb {
    border: none;
    height: 30px;
    width: 30px;
    margin-top: -10px;
    background-color: #f25f5c;
    border-radius: 100%;
}

section#tools section#slider input[type="range"]::-ms-thumb {
    border: none;
    height: 30px;
    width: 30px;
    margin-top: -10px;
    background-color: #f25f5c;
    border-radius: 100%;
}

section#tools section#slider output {
    display: block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

section#tools section#slider input[type="checkbox"] {
    display: none;
}

section#tools section#slider input[type="checkbox"]:checked + span {
    background-color: #70c1b3;
    width: 99.7%;
    border-radius: 30px;
    transition: .2s;
    color: white;
}

section#tools section#slider span {
    display: block;
    height: 30px;
    width: 30px;
    background-color: #50514f;
    border-radius: 30px;
    margin-top: -25px;
    margin-left: 1px;
}

section#tools section#slider label#drawLbl,
section#tools section#slider label#grayLbl {
    display: block;
    text-align: center;
    margin-top: 5px;
}

section#tools section#slider div#enaDraw,
section#tools section#slider div#enaGray {
    border: 1px solid black;
    height: 32px;
    border-radius: 30px;
}
/*End of Slider*/
